.container {
  margin-top: auto;
  background-color: #4169e1;
  color: white;
  height: 40px;
}

.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  color: #fff;
  font-size: 16px;
  cursor: default;
}

.link {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
